.profile-page {
    margin: auto;
    padding: 20px;
}

.top-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.friends-section, .posts-section {
    margin-top: 20px;
    border-top: 1px solid var(--main--color);
    padding-top: 20px;    
}
.friends-section h2 ,.posts-section h2 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
    color: var(--main--color);
}

.friends-section .friend {
    margin: 10px;
    text-align: center;
}

.posts-section {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
