.login-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: var(--main--color);
    background-repeat: no-repeat;
    background-size: cover;
    
  
 } 
 /* .login-image{
    border-radius:15px;
    width: 50%;
    height:80%;

 } */